{% extends "base.html" %}
{% load humanize %}
{% load extras %}
{% load render_bundle from webpack_loader %}


{% block title %}Tag: &quot;{{ tag.name }}&quot; by {{ tag.user.username }}, {{  tag.view_count|intcomma }} view{{ tag.view_count|pluralize }} – CourtListener.com{% endblock %}
{% block og_title %}Tag: &quot;{{ tag.name }}&quot; by {{ tag.user.username }}, {{  tag.view_count|intcomma }} view{{ tag.view_count|pluralize }} – CourtListener.com{% endblock %}
{% block description %}{{ tag.user.username }} created tag &quot;{{ tag.name }}&quot; containing {{ total_tag_count|intcomma }} items. Tags allow you to create public and private collections of items you wish to track.
{% endblock %}
{% block og_description %}{{ tag.user.username }} created tag &quot;{{ tag.name }}&quot; containing {{ total_tag_count|intcomma }} items. Tags allow you to create public and private collections of items you wish to track.
{% endblock %}
{% block og_image %}{% get_full_host %}{{ STATIC_URL }}png/og-image-tag-300x300.png{% endblock %}

{% block footer-scripts %}
  {% render_bundle 'main' %} {% render_bundle 'vendor' %}
{% endblock %}


{% block sidebar %}{% endblock %}
{% block content %}
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
  <div class="col-xs-12 col-md-10 col-lg-8">
    <div
      id="react-root"
      data-authenticated="{% if user.is_authenticated %}{{ user.pk }}:{{ user.get_username }}{% endif %}"
      data-edit-url="{% url "tag_list" request.user %}"
      data-tag-owner="{{ tag.user.username }}"
      data-is-page-owner="{% if tag.user == user %}true{% endif %}"
      data-tag-id="{{ tag.pk }}"
    ></div>

  </div>
  <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
{% endblock %}

